html, body{
    overflow: hidden;
}
*{
    margin: 0;
}

#fundao{
    margin: 0px;
    position: absolute;
    top: 0px; left: 0px;
    width: 100vw; height: 100vh;
    background-image: url("../assets/arac-wall.svg");
    background-repeat: repeat;
    filter: brightness(70%) blur(2px);
    z-index: -10;
}
::selection {
    background: transparent; /* Remove a cor azul */
    color: inherit; /* Mantém a cor original do texto */
}
#bloco{
    width: 110px; height: 180px;
    position: absolute;
    bottom: 20vh; left: 0px;
    transition: all 50ms ease-in-out;
    z-index: 3;
}
#boss{
    width: 800px; height: 500px;
    margin: 0;
    display: inline;
    position: absolute;
    top: 0px; left: 30vh;
    transition: all 50ms ease-in-out;
    z-index: 1;
    filter: brightness(60%) blur(1px);
}
#boss-hit-box{
    width: 160px; height: 100px;
    position: absolute;
    top:0px; left:310px;
}
.progetil{
    background-image: url("../assets/arac-atck1.svg");
    width: 15px; height: 50px;
    display: inline;
    position: absolute;
    z-index: 3;
    margin-right: 0;
    transition: all 50ms ease-in-out;
}
.bola{
    background-image: url("../assets/happy-bugs.svg");
    width: 85px; height: 85px;
    position: absolute;
    z-index: 3;
    transition: all ease-in-out 250ms;
}
#nome-boss{
    position: absolute;
    top: 30vh; left: 0px;
    width: 100%;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.911), rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.877));
    text-align: center;
    font-family: "Snowburst One", serif;
    font-style: normal;
    font-size: 450%;
    z-index: 10;
    opacity: 0;
    display: block;
    transition: all 500ms ease-in-out;
}
#piso{
    background-image: url("../assets/arac-floor-off.svg");
    position: absolute;
    filter: brightness(70%);
    border-top: 2px rgba(0, 0, 0, 0.466) solid;
    width: 100%; height: 25%;
    bottom: 0px;
    z-index: 1;
}
#container {
    width: 300px;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px; right: 20px;
    z-index: 100;
}
#hit-box{
    
    width: 50px; height: 70px;
    position: relative;
    top:-130px; left:15px;
}
#coracoes{
    position: relative;
    z-index: 8;
}
.icone-coracao{
    display: inline;
    width: 50px; height: 50px;
    filter: drop-shadow(-7px 5px 10px #0000003d);
}
.projetil {
    z-index: 4;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: linear-gradient(to left, #48c1d6, #12a0bd);
    border-radius: 50%;
    border: rgba(255, 255, 255, 0.466), 1px solid;
    transition: all 50ms ease-in-out;
}
.rola{
    background-image: url("../assets/arac-atck2.svg");
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: 20vh;
    left: 100px;
    transform-origin: center;
    z-index: 5;
    transition: all 100ms ease-in-out;
}
#cannon{
    display: none;
    position: absolute;
    left:0px; bottom: 18vh;
    z-index: 4;
}
.piscando{
    animation: piscar 0.2s infinite;
}

@keyframes piscar {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
.arac-Minion{
    position: absolute;
    width: 160px; height: 300px;
    bottom: 20vh;
    z-index: 4;
    display: none;
    transition: all 100ms ease-in-out;
}
#minionEsq{
    left:0px;
}
#minionDir{
    right:0px;
}

.quadrado {
    position: absolute;
    bottom: 20vh;
    width: 150px;
    height: 150px;
    background-image: url(../assets/arac-teia.svg);
    transition: background-color 1s ease-in-out;
    z-index: 4;
  }
  
  .quadrado.vermelho {
    background-image: url(../assets/arac-teia-infectada.svg);
  }
  
  .quadrado.sair {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
  #vida-boss{
    color: white;
    font-size: 20pt;
    position: absolute;
    top: 10px; left: 10px;
  }
  .specialcursor{
    cursor: pointer;
}