html, body{
    overflow: hidden;
}
body{
    background-color: rgb(22, 15, 15);
}
::selection {
    background: transparent; /* Remove a cor azul */
    color: inherit; /* Mantém a cor original do texto */
}
#bloco{
    width: 110px; height: 180px;
    position: absolute;
    bottom: 20vh; left: 0px;
    transition: all 50ms ease-in-out;
    z-index: 3;
}
#boss{
    width: 800px; height: 500px;
    margin: 0;
    display: inline;
    position: absolute;
    top: 0px; left: 30vh;
    transition: all 50ms ease-in-out;
    z-index: 1;
}
#boss-hit-box{
    border: 2px solid rgb(255, 255, 255);
    width: 160px; height: 100px;
    position: absolute;
    top:0px; left:310px;
}
.progetil{
    background-image: url("../assets/arac-atck1.svg");
    width: 15px; height: 50px;
    display: inline;
    position: absolute;
    z-index: 3;
    margin-right: 0;
    transition: all 50ms ease-in-out;
}
.bola{
    background-image: url("../assets/happy-bugs.svg");
    width: 70px; height: 70px;
    position: absolute;
    z-index: 3;
    transition: all ease-in-out 250ms;
}
#nome-boss{
    position: absolute;
    bottom: 0px; left: 0px;
    width: 100%;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.575));
    text-align: center;
    font-family: "Snowburst One", serif;
    font-style: normal;
    font-size: 450%;
    z-index: 10;
    opacity: 0;
    display: block;
    transition: all 500ms ease-in-out;
}
#piso{
    background-image: url("../assets/arac-floor.svg");
    position: absolute;
    width: 100%; height: 25%;
    bottom: 0px;
    z-index: 1;
}
#container {
    width: 300px;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px; right: 20px;
    z-index: 100;
}
#hit-box{
    border: 2px solid red;
    width: 80px; height: 110px;
    position: relative;
    top:-130px; left:15px;
}
#coracoes{
    position: relative;
    z-index: 8;
}
.icone-coracao{
    display: inline;
    width: 50px; height: 50px;
    filter: drop-shadow(-7px 5px 10px #0000003d);
}
.projetil {
    z-index: 4;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: linear-gradient(to left, #48c1d6, #12a0bd);
    border-radius: 50%;
    border: rgba(255, 255, 255, 0.466), 1px solid;
    transition: all 50ms ease-in-out;
}
.rola{
    background-image: url("../assets/arac-atck2.svg");
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20vh;
    left: 10px;
    transform-origin: center;
    border-radius: 50%;
    z-index: 4;
    transition: all 100ms ease-in-out;
}