*{
    margin: 0;
}
body{
    background-color: rgb(10, 12, 15);
    margin: 15px;
}

html, body {
    overflow-x: hidden;
}

h1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    color: white;
    font-size: 110%;
}

#textotipo{
    font-family: "Krona One", sans-serif;
    font-style: normal;
    font-size: 220%;
}
@media screen and (max-width: 400px) {
    #textotipo{
        font-size: 110%;
    }
}
.apresentation{
    margin-top: 15%;
    width: 100%;
    display: flex; flex-direction: column;
}
.input-principal{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(16, 15, 20);
    height: 35px; width: 100%;
    border-radius: 20px;
    border: none;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
    outline: none
}

.input-principal:focus{
    background-color: rgb(184, 175, 255);
    color: rgb(14, 13, 19);
}

p{
    text-align: center;
    margin: auto;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#resultado{
    display: block;
    padding: 8px 0px;
    margin-top: 0px;
    border-left: rgba(255, 255, 255, 0.774) 2px solid;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.164), rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0));
}

.section-box-sites{
    display: flex; flex-direction: row;
    width: 100%;
}

#zombie{
    background-color: rgb(23, 63, 38);
}
#zombie a{
    background-color: rgb(255, 255, 255);
    color: rgb(23, 63, 38);
}
#zombie img{
    width: 40%;
}
.box-sites{
    -webkit-box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.568);
    -moz-box-shadow: 4px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.507);
    padding: 4% 2%;
    border-radius: 5px;
    margin: 2% 2px;
    display: flex; flex-direction: column; align-items: center;
}
.box-sites a{
    margin-top: 5px;
    padding: 3px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    border-radius: 25px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.11);
    text-decoration: none;
    color: aliceblue;
}