*{
    margin: 0;
}
body{
    background-color: black;
    margin: 15px;
}

html, body {
    overflow: hidden;
}

h1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    color: white;
    font-size: 110%;
}

#textotipo{
    font-family: "Krona One", sans-serif;
    font-style: normal;
    font-size: 220%;
}
@media screen and (max-width: 400px) {
    #textotipo{
        font-size: 110%;
    }
}
.apresentation{
    margin-top: 2%;
    width: 100%;
    display: flex; flex-direction: column;
}
.input-principal{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(16, 15, 20);
    height: 35px; width: 100%;
    border-radius: 20px;
    border: none;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
    outline: none
}

.input-principal:focus{
    background-color: rgb(184, 175, 255);
    color: rgb(14, 13, 19);
}

p{
    text-align: center;
    margin: auto;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#resultado{
    display: block;
    padding: 8px 0px;
    margin-top: 0px;
    border-left: rgba(255, 255, 255, 0.774) 2px solid;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.164), rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0));
}

.section-box-sites{
    display: flex; flex-direction: row;
    width: 100%;
}

.box-sites{
    background-color: rgba(255, 166, 2, 0.637);
    padding: 2%;
    border-radius: 5px;
    margin: 2% 2px;
    display: flex; flex-direction: column; align-items: center;
}
.box-sites a{
    color: aliceblue;
}