*{
    /*Especificidades:*/
    transition: all 100ms ease-in-out;
}
#Painel-Status{
    /*Flex: */
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    /*Tamanho: */
    width: 90vw;
    
    /*Margens: */
    margin: 2%;
}
@media (max-width: 500px) {
    #Painel-Status{
        flex-direction: column;
        align-items: flex-start;
    }
}

section{
    /*Especificidades:*/
    opacity: 1;
    display: none;
    
    /*Flex: */
    flex-direction: column;
    gap: 8px;

    /*Tamanho: */
    width: 90vw;
    
    /*Margens: */
    margin: 10px 2%;
}

.inventario{

    /* Cores: */
    background-color: rgb(9, 12, 22);
    border: 2px white solid;
    
    /*Tamanho: */
    width: auto;

    /*Flex: */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 10px;
    
    /*Margens: */
    padding: 4px 4px;

    text-align: center;
}

.carta{

    /* Cores: */
    color: white;
    background-image: linear-gradient(rgb(13, 23, 116), rgb(9, 16, 77), rgb(6, 9, 34));
    border: 2px rgba(255, 255, 255, 0.39) solid;

    /*Flex: */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;

    /*Especificidades:*/
    padding: 8px 8px;
}
@media (max-width: 830px) {
    .carta{
    /*Flex: */
    flex: 1 1 200px;
    }
}

.menu{
    width: 80%;
    
    /*Flex: */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;

    /*Margens: */
    margin-left: 2%;
    margin-right: auto;
}
@media (max-width: 500px) {
    .menu{
    /*Flex: */
     width: 90%;
    }
}

.menu h1{
    text-align: center;
}

.menu button{
    flex: 1 1 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0px;
    margin-top: 0px;
}

.menu button:nth-child(even){
    background-color: rgb(54, 125, 255);
}
.menu button:nth-child(even):hover{
    background-color: rgb(255, 255, 255);
}

.status{
    /*Flex: */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#bandeira{
    border: 3px white solid;
    padding: 2px;
    border-radius: 50%;
}

.atributo{
    /* Cores: */
    background-color: rgb(9, 95, 255);
    
    /*Tamanho: */
    width: auto;

    /*Flex: */
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
    /*Margens: */
    padding: 4px 7px;
}

.green-atributo{
    /* Cores: */
    background-color: rgb(20, 66, 39);
    
    /*Tamanho: */
    width: auto;

    /*Flex: */
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
    /*Margens: */
    padding: 4px 7px;
}

.red-atributo{
    /* Cores: */
    background-color: rgb(255, 21, 21);
    
    /*Tamanho: */
    width: auto;

    /*Flex: */
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
    /*Margens: */
    padding: 4px 7px;
}

.redIconStatus{
    width: 54px;
    height: 54x;
    background-color: rgb(255, 54, 54);

    padding: 3px;
}
.iconStatus{
    width: 54px;
    height: 54x;
    background-color: rgb(54, 125, 255);

    padding: 3px;
}

#gerenciar, #ferramentas, #sec-Dev-Tools{
    margin-left: 2%;
}

#cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

