header h1 {
    font-size: 80%;
}

@media screen and (max-width:330px) {
    header h1 {
        display: none;
    }

    header img{
        width: 22%;
    }
}

div .preco_espadinha img{
    width: 50%;
}
#alterna-menu, #alterna-menu:hover{
    font-size: 80%;
}
.c_jogador{
    text-align: center;
    color: #ffffff;
    background-image: none;
    font-weight: bold;
}
.menu-lateral {
    height: 18%;
}
.espadinha{
    gap: 2px;
    box-sizing: border-box;
    padding: 0px 10px 5px 10px;
    background-color:#0d3016;
    display: flex; flex-direction: column-reverse; align-items: center; justify-content: flex-end;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.espadinha img{
    width: 80px;
}
.espadinha p{
    font-size: 90%;
}
.game_em_si{
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.c_jogador p, .c_zombie p{
    color: rgb(255, 221, 31);
    font-size: 60%;
    margin-left: 0px;
}

.c_jogador, .c_zombie{
    width: 100%;
}
.c_jogador{
    padding: 5px 0px;
    border-radius: 0px;
    box-shadow: none;
}
.c_jogador p{ 
    font-size: 110%;
}
.c_zombie{
    margin-top: 2%;
}

#zombie-atual{
    width: 30%;
}

.menu-lateral h1{
    display: none;
}
.menu-lateral{
    overflow:scroll ;
}
.como-jogar, .como-jogar p{
    font-size: 15px;
}

#timer, #meta, #txto-item-atual{
    font-size: 110%;
}

#mensagem-de-tela{
    padding: 5px;
    height: 80%;
}
#mensagem-de-tela img{
    width: 40%;
}

#fechar-mensagem{
    padding: 4px 20px;
}

#Titulo-mensagem-tela{
    font-size: 180%;
    text-align: center;
}
#texto-mensagem-tela{
    font-size: 110%;
    margin-bottom: 2%;
    text-align: center;
}
#timer{
    font-size: 290%;
}
#morcegu{
    width: 35%;
}
#flor{
    position: fixed;
    width: 25%;
}
