header h1 {
    color: white;
    font-family: "Nosifer", sans-serif;
    font-weight: 100;
    font-style: normal;   
    font-size: 80%;
}
#alterna-menu, #alterna-menu:hover{
    font-size: 80%;
    color: rgb(12, 32, 11);
    border: none;
    background-color: #ffffff;
    padding: 2px; border-radius: 2px;
}

.game_em_si{
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.c_jogador p, .c_zombie p{
    font-size: 60%;
    margin-left: 0px;
}

.c_jogador, .c_zombie{
    width: 50%;
}
