.colecionaveis{
    width: 100%;
    flex-wrap: wrap;
    display: flex; flex-direction: row; align-items: center;
    overflow: hidden;
    padding: 5px;
    align-items: stretch;
    gap: 2px;
    margin: 10px 5px;
}
.item-colecao button{
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
    padding: 2px 15px;
    color: rgb(255, 221, 31);
    background-color: rgb(36, 85, 35);
    border-radius: 5px;
    border: none;
}
.item-colecao{
    width: 32%;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    padding: 2px;
    background-image: linear-gradient(rgb(255, 255, 35), rgb(255, 221, 31),rgb(255, 217, 0));
    border-radius: 8px;
}
.item-colecao p, h2{
    color: rgb(36, 85, 35);
    text-align: center;
}

.item-colecao h2{
    font-size: 190%;
    font-family: "Barrio", system-ui;
}
.item-colecao img{
    width: 100px;
    opacity: 0.5;
    filter: brightness(0%) blur(3px);
}

.item-colecao p{
    display: inline;
    width: 100%;
    margin-bottom: 2px;
}

.item-colecao .colecao-especial{
    filter: none;
}

@media screen and (max-width: 500px) {
    .item-colecao img{
        width: 65px;
    }
    .item-colecao{
        width: 40%;
        align-items: center;
    }
    .colecionaveis{
        justify-content: center;
    }
}

@media screen and (max-width: 390px) {
    .item-colecao{
        width: 100%;
        align-items: center;
    }
}

#playerContainer{
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(36, 85, 35);
}
#playerContainer h2{
    font-size: 110%;
    color: white;
    font-family: "Barrio", system-ui;
    font-style: normal;
}
#playerContainer button{
    background-color: #ffffff00;
    border: none;
}

#mensagem-de-tela{
    position: fixed;
    padding: 2px;
    z-index: 99;
    border: rgba(255, 255, 255, 0.63) 2px solid;
    width: 90%; height: 60%;
    background-image: linear-gradient(to right bottom, rgb(34, 119, 216), rgb(19, 63, 104));
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 4%; margin-right: auto; 
    display: none; flex-direction: column; align-items: center; justify-content: center;

}

#fechar-mensagem{
    font-size: 180%;
    width: 90%;
    background-color: white;
    color: rgb(19, 63, 104);
    position: relative;
    font-family: "Barrio", system-ui;
    padding: 2px 10px; border-radius: 5px;
    border: none; cursor: pointer;
}

#Titulo-mensagem-tela{
    font-size: 220%;
    text-align: center;
}
#texto-mensagem-tela{
    font-size: 110%;
    margin-bottom: 2%;
    text-align: center;
}